<section class="aside">
	<div class="profile">
		<h1><a href="{{ site.url }}">Popagandhi</a></h1>
		<img src="/img/profile.jpg" class="profile" alt="a photo of the author of the page in black and white, holding a snack, and smiling">
		<p>{{ site.description }}</p>
	</div>

	<ul class="other-things">
		<h2>Other things</h2>
		<li>Now</li>
		<li><a href="/speaking">Speaking</a></li>
		<li><a href="/writing">Writing</a></li>
		<li><a href="/elsewhere">Elsewhere</a></li>
		<li>Archives</li>
	</ul>

	<ul class="blogroll">
		<h2>Blogroll</h2>
		<li><a href="https://winnielim.org/">Winnie Lim</a></li>
		<li><a href="https://www.anildash.com/">Anil Dash</a></li>
		<li><a href="https://chronosaur.us/">Chronosaur.us</a></li>
		<li><a href="https://blog.byjasonli.com/">Jason Li</a></li>
		<li><a href="https://piccalil.li/blog/">Andy Bell</a></li>
		<li><a href="https://robinrendle.com/">Robin Rendle</a></li>
	</ul>
	<div class="add-blogroll"><a href="/contact">Want to get added to my blogroll?</a></div>
</section> 