<section class="aside">
	<div class="profile">
		<h1><a href="{{ site.url }}">Popagandhi</a></h1>
		<img src="https://picsum.photos/300/250">
		<p>{{ site.description }}</p>
	</div>

	<ul class="other-things">
		<h2>Other things</h2>
		<li>Now</li>
		<li><a href="/speaking">Speaking</a></li>
		<li><a href="/writing">Writing</a></li>
		<li>Elsewhere</li>
		<li>Timeline</li>
		<li>Archives</li>
	</ul>

	<ul class="blogroll">
		<h2>Blogroll</h2>
		<li>Winnie Lim</li>
		<li>Anil Dash</li>
	</ul>
</section> 