<nav aria-labelledby="more-heading">
	<h2 id="more-heading">More</h2>
	<ul class="other-things">
		<li><a href="/now">Now</a></li>
		<li><a href="/writing">Writing</a></li>
		<li><a href="/elsewhere">Elsewhere</a></li>
		<li><a href="/archives">Archives</a></li>
		<li><a href="/tags">Tags</a></li>
	</ul>
</nav>

<nav aria-labelledby="blogroll-heading">
	<h2 id="blogroll-heading">Blogroll</h2>
	<ul class="blogroll">
		<li><a href="https://winnielim.org/" target="_blank" rel="noopener noreferrer">Winnie Lim<span class="visually-hidden"> (opens in new tab)</span></a></li>
		<li><a href="https://www.anildash.com/" target="_blank" rel="noopener noreferrer">Anil Dash<span class="visually-hidden"> (opens in new tab)</span></a></li>
		<li><a href="https://chronosaur.us/" target="_blank" rel="noopener noreferrer">Chronosaur.us<span class="visually-hidden"> (opens in new tab)</span></a></li>
		<li><a href="https://blog.byjasonli.com/" target="_blank" rel="noopener noreferrer">Jason Li<span class="visually-hidden"> (opens in new tab)</span></a></li>
		<li><a href="https://piccalil.li/blog/" target="_blank" rel="noopener noreferrer">Andy Bell<span class="visually-hidden"> (opens in new tab)</span></a></li>
		<li><a href="https://robinrendle.com/" target="_blank" rel="noopener noreferrer">Robin Rendle<span class="visually-hidden"> (opens in new tab)</span></a></li>
		<li><a href="https://bikes.emilyhorsman.com/" target="_blank" rel="noopener noreferrer">Emily's bike stuff<span class="visually-hidden"> (opens in new tab)</span></a></li>
	</ul>
</nav> 