<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" Content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ site.authorName }}">
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="/style.css">
	<link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
	<title>{{ site.siteTitle }}</title> 

<link
      rel="alternate"
      type="application/rss+xml"
      title="Popagandhi's RSS Feed"
      href="{{ metadata.path }}"
    />
</head>