<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" Content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ site.authorName }}">
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="/style.css">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="192x192" href="/favicon-192x192.png">
	<meta name="theme-color" content="#47682C">
	<title>{{ site.siteTitle }}</title> 

<link
      rel="alternate"
      type="application/rss+xml"
      title="Popagandhi's RSS Feed"
      href="{{ metadata.path }}"
    />
</head>