<ul>
{% for post in posts %}
<li>
      <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
      <div class="post-meta">
        <time class="date-metadata" datetime="{{ post.data.date }}">
          Published on {{ post.data.date | postDate }}
        </time>
      </div>
	<div class="post">{{ post.templateContent | safe }}</div>
	{% if post.data.tags %}
	<div class="post-tags">
	{% for tag in post.data.tags %}
	{% if tag != 'posts' and tag != 'all' %}
	<a href="/tags/{{ tag | slugify }}/" class="tag-item">{{ tag }}<span class="visually-hidden"> (view all posts tagged {{ tag }})</span></a>
	{% endif %}
	{% endfor %}
	</div>
	{% endif %}
</li>
{% endfor %}
</ul>
