{% for post in posts %}  

<main>
<ul>
<li>
      <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
      <div class="date-metadata">Published on {{ post.data.date | postDate  }}</div>
	<div class="post">{{ post.templateContent | safe }}</div>
	</li>
</ul>
</main>
{% endfor %}
