<div class="post-pagination">

{% if '/bikes' in page.url %}
  {% set collection = collections.bikes %}
{% elif '/photos' in page.url %}
  {% set collection = collections.photos %}
{% elif '/food' in page.url %}
  {% set collection = collections.food %}
{% elif '/posts' in page.url %}
  {% set collection = collections.blog %}
{% endif %}

{% if collection %}
  {% set previousPost = collection  | getPreviousCollectionItem(page) %}
  {% if previousPost %}
  <a href="{{ previousPost.url }}">&laquo; {{ previousPost.data.title }}</a> &vert;
  {% endif %} <a href="{{'/' | url }}">Home</a>

  {% set nextPost = collection  | getNextCollectionItem(page) %}
  {% if nextPost %}&vert; <a href="{{ nextPost.url }}">{{ nextPost.data.title }} &raquo;</a>{% endif %}
{% endif %}
</div>