<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" Content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ site.authorName }}">
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="/style.css">
	<title>{{ title }}</title>
</head>
<body>

<nav class="header">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/photos">Photos</a></li>
		<li><a href="/til">TIL</a></li>
		<li><a href="/">Contact</a></li>
</nav>

<div class="wrapper">

<section class="aside">
	<div class="hero-image">
		<h1>Popagandhi</h1>
		<img src="https://picsum.photos/300/250">
	</div>
</section> 

<section class="content">

	{{ content | safe }}

</section>


</div>
<section class="footer">Copyright</section>

</body>
</html>
