<!DOCTYPE html>
<html lang="en">
{% include "_head.html" %}

<body>

<main class="container" role="main">

{% include "_header.html" %}

<div class="wrapper">

{% include "_aside.html" %}

<section class="content">

	{{ content | safe }}

</section>


</main>

</body>
<footer class="footer" role="contentinfo">&copy; Copyright {{ site.copyrightYear }}</footer>

</html>
