<!DOCTYPE html>
<html lang="en">
{% include "_head.html" %}
<body>

<div class="container">

{% include "_header.html" %}

<div class="wrapper">

{% include "_aside.html" %}
<section class="content">

<article class="post">

	<h2>{{ title }}</h2>
	<div class="date-metadata">Published on {{ date | postDate  }}</div>

	{{ content | safe }}
	
</article>
{% include "_postpagination.html" %}

</section>
</div>
<section class="footer">&copy; Copyright {{ site.copyrightYear }}</section>
</div>

</body>
</html>
