<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" Content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<title>{{ title }}</title>
</head>
<body>

<nav class="topnav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/photos">Photos</a></li>
		<li><a href="/til">TIL</a></li>
		<li><a href="/">Contact</a></li>
</nav>

<div class="container">

<div class="blog-post">
	<h2>{{ title }}</h2>
</p>
	{{ content | safe }}
</div>

<div class="post-pagination">
	{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% if previousPost %}
  <a href="{{ previousPost.url }}">&laquo; {{ previousPost.data.title }}</a> &vert;
{% endif %} <a href="{{'/' | url }}">Home</a> 

{% set nextPost = collections.blog | getNextCollectionItem(page) %}
{% if nextPost %}
  &vert; <a href="{{ nextPost.url }}">{{ nextPost.data.title }} &raquo;</a>
{% endif %}
</div>
</div>


</body>
</html>
