{% extends "base.njk" %}

{% block site_title %}
<div class="site-title"><a href="/">Popagandhi</a></div>
{% endblock %}

{% block main %}
<article class="post">
	<header class="post-header">
		<h1 data-pagefind-weight="10">{{ title }}</h1>
		<div class="post-meta">
			<time class="date-metadata" datetime="{{ page.date }}">
				Published on {{ page.date | postDate }}
			</time>
		</div>
	</header>

	<div class="post-content">
		{{ content | safe }}
	</div>

	{% if tags and tags.length > 0 %}
	<footer class="post-footer">
		{% include "_tags.html" %}
	</footer>
	{% endif %}
</article>

{% include "_postpagination.html" %}
{% endblock %}
