---
layout: layout.njk
title: Photos
pagination:
  size: 5
  data: collections.photos
  reverse: true
  alias: posts
---
{% include "_post_templateContent.njk" %}

{% include "_pagepagination.html" %}