---
layout: layout.njk
title: Photos
pagination:
  size: 5
  data: collections.photos
  reverse: true
  alias: posts
---
<ul>
{% include "_post_templateContent.njk" %}
</ul>
{% include "_pagepagination.html" %}