---
layout: layout.njk
title: Speaking
tags:
  - speaking
  - resume
eleventyExcludeFromCollections: true
---

<h2>Get me to write or speak at your event or company</h2>

<p>Adrianna Tan is a technology professional with more than 15 years’ experience in software development, particularly in the area of entrepreneurship and product management. She played a leading role in San Francisco's web services, particularly in Covid-19 information, vaccination, recovery and relief. She is the author of the upcoming book, "<strong>Product for the People</strong>: A Guide to Building Mission-Driven Digital Services in Government and Nonprofit Organizations".</p> 

<p>As of 2024, she is the Director of Product Management at <a href="https://www.montereybayaquarium.org/">Monterey Bay Aquarium</a>. She also <a href="https://www.humane-intelligence.org/">advises Humane Intelligence</a> on AI red-teaming, and advises the U.S. General Services Administration <a href="https://www.gsa.gov/policy-regulations/policy/acquisition-policy/gsa-acquisition-policy-federal-advisory-committee">on AI procurement, usage and ethics</a>.

<p>As a civic technologist at one of the U.S.'s largest municipal government digital teams between 2019 and 2024, she had a front row seat to how government software is selected, procured, implemented, built, and used by people who rely on it. She believes that digital government doesn't have to suck. She has <a href="https://govinsider.asia/intl-en/article/a-singaporean-in-san-francisco">written about her work here</a>, and is writing a book about her experience.</p>

<p>In a past life, she was a startup founder at an Indonesian micropayments company, early stage employee at several leading U.S. startups, an executive for U.S. and Singapore companies, ice cream company co-founder, and photographer and writer of several travel guidebooks and cookbooks.</p>

<p>As of {{ site.copyrightYear }}, she is a sought after speaker and writer on the topics of:</p> 

<div class="post">
<ul>
 <li>Product management in government</li>
 <li>The role and ethics of artificial intelligence in government and society</li>
 <li>Public sector work opportunities for tech workers</li>
 <li>Software and community development best practices in accessibility and localization</li>
 <li>Business process orchestration and automation</li>
 <li>Building or launching companies in emerging markets</li>
</ul>
</div>

<p>Adrianna is available to <a href="/contact">speak at your event</a>.</p>

<hr>

<h2>Past events</h2>

This section is coming soon.

<h3>2023</h3>
Lorem ipsum

<h3>2022</h3>
Lorem ipsum

<h3>2021</h3>
Lorem ipsum
