---
layout: layout.njk
title: Speaking
tags:
  - speaking
  - resume
eleventyExcludeFromCollections: true
---

<p>Adrianna Tan is a technology professional with more than 15 years’ experience in software development, particularly in the area of entrepreneurship and product management. For the last 5 years, she has played a leading role in San Francisco's web services, particularly in Covid-19 information, vaccination, recovery and relief.</p> 

<p>As a civic technologist at one of the U.S.'s largest municipal government digital teams since 2019, she has had a front row seat to how government software is selected, procured, implemented, built, and used by people who rely on it. She believes that digital government doesn't have to suck.</p>

<p>In a past life, she was a startup founder at an Indonesian micropayments company, early stage employee at several leading U.S. startups, an executive for U.S. and Singapore companies, ice cream company co-founder, and photographer and writer of several travel guidebooks and cookbooks.</p>

<p>As of {{ site.copyrightYear }}, she is a sought after speaker and writer on the topics of:</p> 

<div class="post">
<ul>
 <li>Product management in government</li>
 <li>The role and ethics of artificial intelligence in government and society</li>
 <li>Public sector work opportunities for tech workers</li>
 <li>Software and community development best practices in accessibility and localization</li>
 <li>Business process orchestration and automation</li>
 <li>Building or launching companies in emerging markets</li>
</ul>
</div>

<p>Adrianna is available to <a href="/contact">speak at your event</a>.</p>

<hr>

<h2>Past events</h2>

<h3>2023</h3>
Lorem ipsum

<h3>2022</h3>
Lorem ipsum

<h3>2021</h3>
Lorem ipsum
