---
layout: layout.njk
title: Writing
---

<p>Adrianna Tan is a published writer who has written widely on topics as diverse as: climate change, cultural traditions and festivals, travel tips and advice, the experience of queerness, growing up in Singapore, being Asian American, the immigrant experience, the role of a civic technologist in an age of misinformation and labor exploitation, and many more.</p> 

<p><a href="/contact">Get in touch</a> if you'd like to assign a piece of writing for your publication, or discuss book or zine collaboration.</p>

<hr>

<h2>Published writing</h2>

<h3>2023</h3>
Lorem ipsum

<h3>2022</h3>
Lorem ipsum

<h3>2021</h3>
Lorem ipsum
