---
layout: layout.njk
title: Writing
---

<p>Adrianna Tan is a published writer who has written widely on topics as diverse as: climate change, cultural traditions and festivals, travel tips and advice, the experience of queerness, growing up in Singapore, being Asian American, the immigrant experience, the role of a civic technologist in an age of misinformation and labor exploitation, and many more.</p> 

<p><a href="/contact">Get in touch</a> if you'd like to commission a piece of writing for your publication, or discuss book or zine collaboration.</p>

<hr>

<h2>Published writing</h2>

<h3>2015</h3>
<p>Tan, Adrianna. "<a href="https://www.brinknews.com/techs-role-in-reaching-indonesias-rising-middle-class/">Tech's role in reaching Indonesia's middle class</a>." BRINK – Conversations and Insights on Global Business. Web.

<h3>2014</h3>
<p><a href="https://mothership.sg/2014/02/openly-gay-sporean-responds-to-thio-su-miens-open-letter-with-an-open-letter-of-her-own/">Openly gay S'porean responds to Thio Su Mien's open letter with an open letter of her own</a>. Mothership.sg.</p> 

<h3>2013</h3>
<p><a href="https://medium.com/@skinnylatte/chess-with-aliens-e59430ac9b44">Chess with Aliens</a>. Why XCOM was Game of the Year 2012 & 2013 for me.</p>

<h3>2011</h3>
<p>Southeast Asia for Lovers. Mint newspaper, an imprint of the Wall Street Journal in India. 2011. Print.</p>

<h3>2010</h3>

<p>Asia's Top Chefs. Cover story. Reader's Digest Asia. 2010. Print.</p>

<p>Confluence: The Indian by Nature Cookbook. Ed. Adrianna Tan. Singapore: Pen to Pixel, 2010. ISBN 9789810872830. Print.

<p>Tan, Adrianna. "Why I am still a feminist." <a href="https://archive.org/details/gasppgayantholog0000unse/page/n3/mode/2up?view=theater">GASPP : a gay anthology of Singaporean poetry and prose</a>. Ed. Ng Yi-Sheng, Dominic Chua, Irene Oh, Jasmine Seah. Singapore: The Literary Centre, 2010. 71-73. Print.</p>

<h3>2009</h3>

<p>Tan, Adrianna. "Singapore Chic: hotels, restaurants, shops, bars. (2nd ed.)"  Singapore: Editions Didier Millet, 2009. Print.</p>

<h3>2008</h3>

<p>Tan, Adrianna. "<a href="https://singaporemagazine.sif.org.sg/Stories/Data/Stories/The-Code-to-a-Better-Life_2022Issue1">The forgotten women warriors of the Malayan Communist Party</a>." IIAS Newsl. 2008; (48):12-13.
