---
layout: layout.njk
title: til
---

<h1>TIL</h1>

<p>todayilearned todayilearned todayilearned</p>


<ul>
	
{% for post in collections.til %}  
	<li>
	      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a> | {{ post.date | postDate  }}</h3>
		<div>{{ post.templateContent | safe }}</div>	</li>
{% endfor %}
</ul>


