---
layout: layout.njk
title: til
pagination:
  size: 5
  data: collections.til
  reverse: true
  alias: posts
collectionOnThisPage: blog
---

<div class="page-top">
<p>I read a lot of random things.</p>
<p>It seemed like a good idea to share them.</p>
</div>

<ul>
{% include "_post_templateContent.njk" %}
</ul>


{% include "_pagepagination.html" %}