---
layout: layout.njk
title: Food
pagination:
  size: 5
  data: collections.foodSorted
  reverse: true
  alias: posts
pagefindExclude: true
showFullPosts: true
bannerImage: /img/foodcover.jpg
bannerAlt: Food
---
<h1 class="page-title">{{ title }}</h1>

<div class="page-top">
  <p>Food is politics, history, culture. It's also the best lens I know for learning about the world. I've eaten extensively across the world, worked on cookbooks, photographed a lot of food for money and for fun, and I <a href="https://hachyderm.io/@skinnylatte/tagged/Food">write about food often on Mastodon.</a>.</p>
</div>

{% include "_post_templateContent.njk" %}

{% include "_pagepagination.html" %}
