---
layout: layout.njk
title: Elsewhere
tags: 
  - elsewhere
  - links
eleventyExcludeFromCollections: true
---

<p>I have worn many hats, throughout the years.</p>

<p>The following is the first ever attempt to consolidate everything I appeared in elsewhere.</p> 

<hr>

<h2>Featured elsewhere</h2>
<h3>2025</h3>
<p><a href="https://www.youtube.com/watch?v=X9gGYZ9G_d4">In late April 2025, I spoke at North Bay Python</a> about why I 'left tech' to work at the Monterey Bay Aquarium. (Blog post <a href="https://popagandhi.com/posts/my-talk-at-north-bay-python/">here</a>)</p>


<h3>2024</h3>
<p><a href="https://govinsider.asia/intl-en/article/adrianna-tan-founder-future-ethics-united-states">An interview with me about my thoughts on artificial intelligence and the public sector.</a></p>

<p><a href="https://govinsider.asia/intl-en/article/a-singaporean-in-san-francisco">A Singaporean in San Francisco</a>. A piece I wrote about my five years in public service in San Francisco.</p>

<h3>2023</h3>
<p><a href="https://www.munidiaries.com/2023/06/18/a-seasoned-international-bus-rider-tackles-muni/">A seasoned international bus rider tackles Muni.</a> Storyteller Adrianna Tan is an enthusiastic bus rider who has ridden buses in more than 30 countries worldwide. But when she finally moves to San Francisco five years ago, she quickly finds out that, in many ways, our very own Muni is not like all the rest. Live event recording, video and audio podcast.</p> 

<p><a href="https://youtu.be/ahrAOeOK5eM?t=3583">November 2023 Show and Tell: Story of a Place</a>. YouTube video.</p>

<p>Hirdaramani Y. <a href="https://govinsider.asia/intl-en/article/a-tale-of-two-cities-singaporean-techie-compares-govtech-approaches-across-singapore-and-san-francisco">A tale of two cities: Singaporean techie compares govtech approaches across Singapore and San Francisco</a>. GovInsider. Published October 23, 2023.</p>

<p>A Better Tech. <a href="https://www.abettertech.net/news/adrianna-tan">In the Spotlight: Adrianna Tan</a>.  Published September 24, 2023.


<h3>2022</h3>

<p><a href="https://www.youtube.com/watch?v=j7BRqpyroBQ">“I think you really have to like butter” | Spokes & Folks Episode Three with Adrianna Tan </a>. YouTube video.</p>

<p><a href="https://theworkitem.com/blog/product-management-government-adrianna-tan/">#49 - Product Management in Government</a>, with Director of Product Management for the City and County of San Francisco, Adrianna Tan</a>. TheWorkItem.com. Podcast.</p>

<p>Singapore Global Network, GovTech. <a href="https://singaporeglobalnetwork.gov.sg/stories/business/women-to-watch/">Women to Watch</a>. Singapore Global Network. Published March 8, 2022.</p>

<p>Chew A. <a href="https://singaporemagazine.sif.org.sg/Stories/Data/Stories/The-Code-to-a-Better-Life_2022Issue1">The Code to a Better Life.</a> 2022;(1):46-52.</p>

<p><a href="https://www.bloomberg.com/news/articles/2022-08-25/singapore-housing-barrier-becomes-even-higher-for-lgbtq-buyers">Singapore Housing Barrier Becomes Even Higher for LGBTQ Buyers.</a> Bloomberg News. Web.</p>

<h3>2021</h3>
<p>A Better Tech. <a href="https://www.abettertech.net/news/adrianna-tan-san-francisco">Working in the Public Sector: Adrianna Tan</a>. A Better Tech: Public Interest Technology and Career Fair. Published October 25, 2021.</p>

<p>Sloane M, Chowdhury R, Havens JC, Lazovich T, Rincon Alba L. <a href="https://archive.nyu.edu/handle/2451/62255">AI and Procurement - A Primer</a>. New York University; 2021. doi:10.17609/bxzf-df18</p>

<h3>2020</h3>
<p><a href="https://www.reuters.com/news/picture/californias-ember-skies-glow-from-wildfi-idUSRTX7VOKT/">California's ember skies glow from wildfires</a>. Reuters. Web.</p>
<h3>2018</h3>

<p><a href="https://techcollectivesea.com/2018/02/02/interview-adrianna-tan-ceo-founder-wobe/">Interview – Adrianna Tan, CEO and Founder, Wobe</a>. Female tech leaders. Techcollectivesea.com. Web.</p>

<p><a href=">https://archive.ph/KhHi4">Here's what someone who grew up with actual crazy rich Asians had to say about the movie.</a> Coconuts Singapore. Web.</p>

<h3>2016</h3>
<p><a href="https://archive.is/Q60uZ">Singapore’s Wobe wins world’s first cross-border startup comp for female entrepreneurs.</a> Yahoo News.</p>

<p><a href="https://www.fastcompany.com/3065335/the-indonesian-startup-that-wants-to-empower-women-with-prepaid-phone-credits">The Indonesian Startup That Wants To Empower Women With Prepaid Phone Credits</a>.Fast Company.</p>

<p><a href="https://yourstory.com/2016/09/adrianna-tan-education-girls">This social entrepreneur helps provide education to underprivileged girls across five cities</a>. YourStory.com. Web.</p>

<h3>2016</h3>
<p><a href="https://guide.michelin.com/sg/en/article/people/foodpreneurs-food-as-conversation-starters-1">Foodpreneurs: Food as conversation starters (Part 1)</a>. MICHELIN Guide.</p>

<h3>2015</h3>
<p><a href="https://archive.ph/vGq9m">I'm Just a Busybody.</a> HNWorth.com. Web.</p>

<p><a href="https://helloclue.com/articles/culture/supporting-women-around-world-qa-with-adrianna-tan-entrepreneur-queer-role-model">Q&A with Adrianna Tan, entrepreneur and queer role model</a>, HelloClue.com. Web.</p>

<p><a href="https://archive.ph/XFHDv">She would rather spend to help migrants makan</a>. Singapore: The New Paper; 2015.

<h3>2014</h3>
<p><a href="https://bk.asia-city.com/city-living/article/adrianna-tan">Mediocrity scares me. Interview with Adrianna Tan.</a>BK Magazine. Web.</p>

<h3>2013</h3>
<p><a href="https://singaporemagazine.sif.org.sg/Stories/Data/Stories/Blazing-The-Trail_2013Issue4">Blazing the trail</a>. Singapore International Foundation. 2013.</p>
