---
layout: layout.njk
title: Now
pagination:
  size: 5
  data: collections.now
  reverse: true
  alias: posts
eleventyExcludeFromCollections: true
---

<div class="page-top">
What I am doing now.
</div>

{% include "_post_templateContent.njk" %}

{% include "_pagepagination.html" %}