---
layout: layout.njk
title: Now
pagination:
  size: 5
  data: collections.now
  reverse: true
  alias: posts
eleventyExcludeFromCollections: true
pagefindExclude: true
showFullPosts: true
bannerImage: /img/20231207-olympusxa2-fuji400-bellini-runningmissiontl-0012-edit-positive.jpg
bannerAlt: The Golden Gate Bridge from the waterfront
---
<h1 class="page-title">{{ title }}</h1>

<div class="page-top">
  <p>A running log of what I'm up to, inspired by <a href="https://nownownow.com">nownownow.com</a>.</p>
</div>

{% include "_post_templateContent.njk" %}

{% include "_pagepagination.html" %}
