---
title: Archives
layout: layout.njk
pagination:
  data: collections.postsByYear
  size: 1
  alias: year
  reverse: true
permalink: "archives/{{ year }}/"
eleventyExcludeFromCollections: true
pagefindExclude: true
---

<article class="archives">
    <h1>{{ year }}</h1>

    <section class="archive-year-section">
        <ul class="archive-posts-list">
            {% for post in collections.postsByYear[year] | reverse %}
            {% set pd = post.data.date if post.data.date else post.date %}
            <li class="archive-post-item">
                <a href="{{ post.url }}">{{ post.data.title | default("Untitled") }}</a>
                <time class="archive-post-date" datetime="{{ pd }}">{{ pd | shortDate }}</time>
            </li>
            {% endfor %}
        </ul>
    </section>
</article>

{% set paginationPrevLabel = "← Newer" %}
{% set paginationNextLabel = "Older →" %}
{% set paginationMessage = year %}
{% set paginationAriaLabel = "Year navigation" %}
{% include "_pagepagination.html" %}
