---
layout: layout.njk
title: Contact me
tags:
 - contact
 - info
eleventyExcludeFromCollections: true
---
<h2>Contact me</h2>
<p>This page used to have a form. There was a lot of spam. There is no more form, for now.</p>
<p>Send me a message on <a href="https://hachyderm.io/@skinnylatte">Mastodon</a> or <a href="https://www.linkedin.com/in/adriannatan/">LinkedIn</a> (fastest).</p>
<p>I'm available for speaking opportunities, <a href="/writing">writing assignments</a>, and offers of good food or company.</p>
<p>The best way to get me to respond is to tell me you have free ice cream.</p>
</div>