---
permalink: "/debug-tags/"
---
<h1>Debug Tags</h1>

<h2>collections.tagList ({{ collections.tagList.length }} items):</h2>
<ul>
{% for tag in collections.tagList %}
<li>"{{ tag }}"</li>
{% endfor %}
</ul>

<h2>Raw dump:</h2>
<pre>{{ collections.tagList | dump }}</pre>