---
# Metadata comes from _data/metadata.json
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>  
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.feedposts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.feed.authorName }}</name>
    <email>{{ metadata.feed.authorEmail }}</email>
  </author>
  {%- set recentPosts = collections.feedposts | reverse | head(20) | reverse %}
  {%- for post in recentPosts %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <published>{{ post.date | dateToRfc3339 }}</published>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {%- if post.data.tags %}
    {%- for tag in post.data.tags %}
    <category term="{{ tag }}"/>
    {%- endfor %}
    {%- endif %}
    {%- if post.data.description %}
    <summary>{{ post.data.description }}</summary>
    {%- endif %}
    <content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
