---
layout: layout.njk
title: {{ site.siteTitle }}
pagination:
  size: 5
  data: collections.blog
  reverse: true
  alias: posts
permalink: "/{% if pagination.pageNumber != 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
collectionOnThisPage: blog
---
<div class="page-top">

<p>Work in progress.</p>
<p>Some things are broken round here.</p>
</div>

<ul>
{% include "_post_templateContent.njk" %}
</ul>

{% include "_pagepagination.html" %}