---
layout: layout.njk
title: "Popagandhi"
pagination:
  size: 5
  data: collections.blog
  reverse: true
  alias: posts
permalink: "/{% if pagination.pageNumber != 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
collectionOnThisPage: blog
---

<h1 class="page-title">{{ title }}</h1>

{% include "_post_templateContent.njk" %}


{% include "_pagepagination.html" %}
