/* medium screens */


@media all and (min-width: 600px) {
	.wrapper { display: flex; flex-direction: row }
}


/* large screens */

@media all and (min-width: 800px) {
	.header { order: 1; display: flex; justify-content: space-between; align-items: right; flex-direction: row }
	.aside { order: 2 }
	.content { order:3; padding: 45px; margin: 10px }
	.footer { order: 4 }
	.nav ul { display: flex; flex-direction: row }
}

.nav ul {
	list-style-type: none;
}

.nav a {
	color: #008080;
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 15px;
}

.socials ul { 
	list-style-type: none; 
	display: flex;
	padding: 15pxpx;
	margin-left: 15px;
}

.socials li {
	padding: 5px;
}

.socials a {
	color: #F08080;
}

.content ul {
	list-style-type: none;
}

.content ul li {
	padding-bottom: 10px;
}

.content a {
	color: #008080;
}


.container > * {
	flex: 1 100%;
}


.aside {
	margin-right: auto;
	flex: 1 1 350px;
	padding: 50px;
}

.hero-image img {
	border-radius: 15px;
}

.footer {
	background-color: #f5f5f5;
	display: flex;
	justify-content: space-between;

}

.post {
	padding: 10px;
}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 2rem;
	color: #F08080;
}

h3 {
	font-family: 'Merriweather', serif;
	color: #008080;
	font-size: 1.8rem;
}

h3 a {
	text-decoration: none;
	color: #008080;;
}

body {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.1rem;
	color: #333333;
	background-color: #f5f5f5;
}
