---
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: "/tags/{{ tagPage.tag }}/{% if tagPage.pageNumber > 0 %}{{ tagPage.pageNumber + 1 }}/{% endif %}index.html"
layout: layout.njk
eleventyComputed:
  title: "Posts tagged '{{ tagPage.tag }}'"
eleventyExcludeFromCollections: true
---

<h1>Posts tagged "{{ tagPage.tag }}"</h1>

<a href="/tags/">← All tags</a>

<ul>
{% for post in tagPage.posts %}
<li>
  <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  <div class="post-meta">
    <time class="date-metadata" datetime="{{ post.data.date }}">
      Published on {{ post.data.date | postDate }}
    </time>
  </div>
  <div class="post">{{ post.templateContent | safe }}</div>
  {% if post.data.tags %}
  <div class="post-tags">
  {% for tagItem in post.data.tags %}
  {% if tagItem != 'posts' and tagItem != 'all' %}
  <a href="/tags/{{ tagItem | slugify }}/" class="tag-item">{{ tagItem }}<span class="visually-hidden"> (view all posts tagged {{ tagItem }})</span></a>
  {% endif %}
  {% endfor %}
  </div>
  {% endif %}
</li>
{% endfor %}
</ul>

<div class="tag-info">
  <p>{{ tagPage.totalPosts }} post{% if tagPage.totalPosts != 1 %}s{% endif %} tagged "{{ tagPage.tag }}"</p>
</div>

{% if tagPage.totalPages > 1 %}
  {% set paginationUseExplicitLinks = true %}
  {% set paginationPreviousHref = "" %}
  {% set paginationNextHref = "" %}
  {% if tagPage.pageNumber > 0 %}
    {% set previousPageNumber = tagPage.pageNumber - 1 %}
    {% if previousPageNumber > 0 %}
      {% set paginationPreviousHref = "/tags/" ~ tagPage.tag ~ "/" ~ (previousPageNumber + 1) ~ "/" %}
    {% else %}
      {% set paginationPreviousHref = "/tags/" ~ tagPage.tag ~ "/" %}
    {% endif %}
  {% endif %}
  {% if tagPage.pageNumber < (tagPage.totalPages - 1) %}
    {% set paginationNextHref = "/tags/" ~ tagPage.tag ~ "/" ~ (tagPage.pageNumber + 2) ~ "/" %}
  {% endif %}
  {% set paginationMessage = "Page " ~ (tagPage.pageNumber + 1) ~ " of " ~ tagPage.totalPages %}
  {% set paginationAriaLabel = "Tag pagination for " ~ tagPage.tag %}
  {% include "_pagepagination.html" %}
{% endif %}
