---
layout: layout.njk
title: Bikes
pagination:
  size: 5 
  data: collections.bikes
  reverse: true
  alias: posts
---
<ul>
{% include "_post_templateContent.njk" %}
</ul>

{% include "_pagepagination.html" %}