---
layout: layout.njk
title: Bikes
pagination:
  size: 5
  data: collections.bikes
  reverse: true
  alias: posts
pagefindExclude: true
showFullPosts: true
bannerImage: /img/20231207-olympusxa2-fuji400-bellini-runningmissiontl-0011-positive.jpg
bannerAlt: Cyclist on a path at Crissy Field with the Golden Gate Bridge in the background
---
<h1 class="page-title">{{ title }}</h1>

<div class="page-top">
  <p>Riding bikes, going places, sometimes sleeping outside. Mostly in and around San Francisco.</p>
</div>

{% include "_post_templateContent.njk" %}

{% include "_pagepagination.html" %}
